NodeRed/ModBusTcpToMqtt.json
[{"id":"82965f46.d4655","type":"tab","label":"Flujo Funcional","disabled":false,"info":""},{"id":"e4af32bf.7d1b6","type":"inject","z":"82965f46.d4655","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["74441c25.647854"]],"info":"ACC Automation Sample Code"},{"id":"74441c25.647854","type":"function","z":"82965f46.d4655","name":"","func":"msg.payload = \n{ \n'fc': 3, \n'unitid': 1,\n'address': 1095, \n'quantity': 1 }\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":294,"y":124,"wires":[["98a91040.03b19"]]},{"id":"98a91040.03b19","type":"modbus-flex-getter","z":"82965f46.d4655","name":"","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"server":"af696592.b11588","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":494,"y":124,"wires":[["ba1d2184.227d"],["781d5fa2.2d297","1588acac.2a68a3"]]},{"id":"ba1d2184.227d","type":"modbus-response","z":"82965f46.d4655","name":"","registerShowMax":20,"x":1070,"y":140,"wires":[]},{"id":"85cc93c0.fce5c","type":"comment","z":"82965f46.d4655","name":" Modbus Process Temperature Controller","info":"ACC Automation - Sample Program\n","x":200,"y":20,"wires":[]},{"id":"6b30bb27.e4f764","type":"comment","z":"82965f46.d4655","name":"Read Furnace 1 Temperature - Modbus RTU","info":"","x":570,"y":80,"wires":[]},{"id":"ddd42801.52bed8","type":"comment","z":"82965f46.d4655","name":"Write Furnace 1 Temperature to Paralellal PLC - Modbus TCP","info":"","x":620,"y":200,"wires":[]},{"id":"e6390c4.83ab2f","type":"comment","z":"82965f46.d4655","name":"Modbus Communication Update Interval","info":"","x":190,"y":80,"wires":[]},{"id":"1588acac.2a68a3","type":"mqtt out","z":"82965f46.d4655","name":"","topic":"Furnace1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ff3b3f2d.e03e9","x":1040,"y":60,"wires":[]},{"id":"c1ea9c0c.a953b","type":"comment","z":"82965f46.d4655","name":"Publish Temperature Value on Mosquitto Broker","info":"","x":1160,"y":20,"wires":[]},{"id":"781d5fa2.2d297","type":"function","z":"82965f46.d4655","name":"","func":"var values = msg.payload.data\nmsg.payload = { \n    'value': values, \n    'fc':16, \n    'unitid': 1, \n    'address': 1000, \n    'quantity': 1 \n    } \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":240,"wires":[["7ae6770d.4f5db8"]]},{"id":"7ae6770d.4f5db8","type":"modbus-flex-write","z":"82965f46.d4655","name":"","showStatusActivities":false,"showErrors":true,"server":"1bb18b53.a6d865","emptyMsgOnFail":false,"keepMsgProperties":false,"x":510,"y":240,"wires":[["e53795cf.b44068"],["3c010a3d.267bf6"]]},{"id":"e53795cf.b44068","type":"modbus-response","z":"82965f46.d4655","name":"","registerShowMax":20,"x":1070,"y":240,"wires":[]},{"id":"3c010a3d.267bf6","type":"function","z":"82965f46.d4655","name":"","func":"msg.payload = \n{ \n'fc': 3, \n'unitid': 1,\n'address': 1090, \n'quantity': 1 }\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":400,"wires":[["56bf8910.6fb218","300543aa.98356c"]]},{"id":"9039c461.8809f8","type":"comment","z":"82965f46.d4655","name":"Read Furnace 2 Temperature - Modbus RTU","info":"","x":570,"y":360,"wires":[]},{"id":"14bbef69.c1bd01","type":"modbus-response","z":"82965f46.d4655","name":"","registerShowMax":20,"x":1080,"y":340,"wires":[]},{"id":"56bf8910.6fb218","type":"modbus-flex-getter","z":"82965f46.d4655","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"af696592.b11588","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":510,"y":400,"wires":[["14bbef69.c1bd01"],["d4e1af1c.5f88c"]]},{"id":"d4e1af1c.5f88c","type":"mqtt out","z":"82965f46.d4655","name":"","topic":"Furnace2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ff3b3f2d.e03e9","x":1050,"y":400,"wires":[]},{"id":"300543aa.98356c","type":"modbus-getter","z":"82965f46.d4655","name":"Local Modbus","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"1095","quantity":"1","server":"d2eb9d4c.1623a","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":480,"wires":[["fedafc3b.697b4"],[]]},{"id":"fedafc3b.697b4","type":"modbus-response","z":"82965f46.d4655","name":"","registerShowMax":20,"x":1000,"y":480,"wires":[]},{"id":"af696592.b11588","type":"modbus-client","name":"Solo Process Temperature Controller","clienttype":"tcp","bufferCommands":false,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM8","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"0","unit_id":1,"commandDelay":0,"clientTimeout":500,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"ff3b3f2d.e03e9","type":"mqtt-broker","name":"","broker":"localhost","port":"9001","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1bb18b53.a6d865","type":"modbus-client","name":"Paralellal PLC","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d2eb9d4c.1623a","type":"modbus-client","name":"Modbus Tcp Local","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true}]